<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Marko Demo</title>
    </head>
    <body>
        <h1>Marko Demo</h1>
        <h2>${data.name}</h2>
        <section>
            <ul>
                <li for(color in data.colors)>${color}</li>
            </ul>
        </section>
    </body>
</html>